.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h2 {
    margin-top: 10px;
    font-size: 18px;
}

.produto p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}
